In [1]:
import pandas as pd

In [2]:
import os
import pandas as pd
import glob

base_path = 'microdados downloads'
search_pattern = os.path.join(base_path, '**', 'MICRODADOS_CADASTRO_CURSOS_*.CSV')
files = glob.glob(search_pattern, recursive=True)

dfs = []

print(f"Encontrados {len(files)} arquivos.")

for file_path in files:
    print(f"Lendo: {file_path}")
    try:
        # Adicionado dtype=str para ler tudo como texto
        df = pd.read_csv(file_path, encoding='latin-1', sep=';', dtype=str, low_memory=False)
        dfs.append(df)
    except Exception as e:
        print(f"Erro ao ler {file_path}: {e}")

if dfs:
    df_cursos_completo = pd.concat(dfs, ignore_index=True)
    print("Leitura concluída!")
    display(df_cursos_completo.head())
else:
    print("Nenhum arquivo encontrado.")

Encontrados 11 arquivos.
Lendo: microdados downloads\Microdados do Censo da Educa��o Superior 2014\dados\MICRODADOS_CADASTRO_CURSOS_2014.CSV
Lendo: microdados downloads\Microdados do Censo da Educa��o Superior 2015\dados\MICRODADOS_CADASTRO_CURSOS_2015.CSV
Lendo: microdados downloads\Microdados do Censo da Educa��o Superior 2016\dados\MICRODADOS_CADASTRO_CURSOS_2016.CSV
Lendo: microdados downloads\Microdados do Censo da Educa��o Superior 2017\dados\MICRODADOS_CADASTRO_CURSOS_2017.CSV
Lendo: microdados downloads\Microdados do Censo da Educa��o Superior 2018\dados\MICRODADOS_CADASTRO_CURSOS_2018.CSV
Lendo: microdados downloads\Microdados do Censo da Educa��o Superior 2019\dados\MICRODADOS_CADASTRO_CURSOS_2019.CSV
Lendo: microdados downloads\Microdados do Censo da Educa��o Superior 2020\dados\MICRODADOS_CADASTRO_CURSOS_2020.CSV
Lendo: microdados downloads\Microdados do Censo da Educa��o Superior 2021\dados\MICRODADOS_CADASTRO_CURSOS_2021.CSV
Lendo: microdados downloads\microdados_censo_da_educacao_superior_2023\dados\MICRODADOS_CADASTRO_CURSOS_2023.CSV
Lendo: microdados downloads\microdados_censo_da_educacao_superior_2024\dados\MICRODADOS_CADASTRO_CURSOS_2024.CSV
Lendo: microdados downloads\microdados_educa��o_superior_2022\dados\MICRODADOS_CADASTRO_CURSOS_2022.CSV
Leitura concluída!

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,IN_CAPITAL,TP_DIMENSAO,...,QT_MAT_RVMEDAL,QT_MAT_RVTRANS,QT_CONC_RVPPI,QT_CONC_RVQUILO,QT_CONC_RVREFU,QT_CONC_RVPOVT,QT_CONC_RVIDOSO,QT_CONC_RVINTERN,QT_CONC_RVMEDAL,QT_CONC_RVTRANS
0,2014,Norte,1,Rondônia,RO,11,Ariquemes,1100023,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,Norte,1,Rondônia,RO,11,Ariquemes,1100023,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,Norte,1,Rondônia,RO,11,Ariquemes,1100023,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,Norte,1,Rondônia,RO,11,Ariquemes,1100023,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,Norte,1,Rondônia,RO,11,Ariquemes,1100023,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
columns = ['NU_ANO_CENSO', 'NO_REGIAO', 'SG_UF', 'CO_UF', 'NO_MUNICIPIO', 'CO_MUNICIPIO', 'TP_MODALIDADE_ENSINO', 'QT_ING', 'QT_MAT','QT_ING_FEM', 'QT_ING_MASC','QT_ING_BRANCA','QT_ING_PRETA', 'QT_ING_PARDA','QT_ING_AMARELA', 'QT_ING_INDIGENA', 'QT_ING_CORND',
                    'QT_ING_0_17','QT_ING_18_24','QT_ING_25_29','QT_ING_30_34','QT_ING_35_39','QT_ING_40_49','QT_ING_50_59','QT_ING_60_MAIS' ]
df = df_cursos_completo[columns].copy()

In [21]:
df_sc = df[df['SG_UF'] == 'SC']

In [22]:
df_sc['MODALIDADE_NOME'] = df_sc['TP_MODALIDADE_ENSINO'].map({'1': 'Presencial', '2': 'EaD'})

C:\Users\rafae_9y1k772\AppData\Local\Temp\ipykernel_8888\2096846534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sc['MODALIDADE_NOME'] = df_sc['TP_MODALIDADE_ENSINO'].map({'1': 'Presencial', '2': 'EaD'})

In [45]:
df_sc.to_csv('./data/dados_sc_unificado_original.csv', index=False)

In [24]:
df_sc['QT_MAT'] = pd.to_numeric(df_sc['QT_MAT'], errors='coerce')

C:\Users\rafae_9y1k772\AppData\Local\Temp\ipykernel_8888\2970814860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sc['QT_MAT'] = pd.to_numeric(df_sc['QT_MAT'], errors='coerce')

In [ ]:
numeric_cols = ['QT_MAT', 'QT_ING', 'QT_ING_0_17', 'QT_ING_18_24', 'QT_ING_25_29',
                'QT_ING_30_34', 'QT_ING_35_39', 'QT_ING_40_49', 'QT_ING_50_59', 'QT_ING_60_MAIS']
df_sc[numeric_cols] = df_sc[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [28]:
df_sc.dtypes

NU_ANO_CENSO            object
NO_REGIAO               object
SG_UF                   object
CO_UF                   object
NO_MUNICIPIO            object
CO_MUNICIPIO            object
TP_MODALIDADE_ENSINO    object
QT_ING                   int64
QT_MAT                   int64
QT_ING_FEM              object
QT_ING_MASC             object
QT_ING_BRANCA           object
QT_ING_PRETA            object
QT_ING_PARDA            object
QT_ING_AMARELA          object
QT_ING_INDIGENA         object
QT_ING_CORND            object
QT_ING_0_17              int64
QT_ING_18_24             int64
QT_ING_25_29             int64
QT_ING_30_34             int64
QT_ING_35_39             int64
QT_ING_40_49             int64
QT_ING_50_59             int64
QT_ING_60_MAIS           int64
MODALIDADE_NOME         object
dtype: object

Análise
-------

##### Todos os dados utilizados é de Santa Catarina

In [39]:
def export(df,name):
    df.to_csv(f'./correcao/{name}.csv', index=False)

In [29]:
# Dados de 2024
df_2024 = df_sc[df_sc['NU_ANO_CENSO'] == '2024'].copy()

df_2014 = df_sc[df_sc['NU_ANO_CENSO'] == '2014'].copy()

In [34]:
# 1

# Filtrar ano 2024
df_2024 = df_sc[df_sc['NU_ANO_CENSO'] == '2024'].copy()
df_2024['QT_MAT'] = pd.to_numeric(df_2024['QT_MAT'], errors='coerce')

# Agrupar por município e modalidade
municipio = (
    df_2024.groupby(['NO_MUNICIPIO', 'MODALIDADE_NOME'])['QT_MAT'].sum()
    .reset_index()
    .pivot(index='NO_MUNICIPIO', columns='MODALIDADE_NOME', values='QT_MAT')
    .rename_axis(columns=None)
    .fillna(0)
)

# Calcular total e percentuais
municipio['Total'] = municipio['EaD'] + municipio['Presencial']
municipio['% EaD'] = (municipio['EaD'] / municipio['Total'] * 100).round(2)
municipio['% Presencial'] = (municipio['Presencial'] / municipio['Total'] * 100).round(2)

municipio = municipio.sort_values('NO_MUNICIPIO', ascending=True).reset_index()
display(municipio)

        NO_MUNICIPIO     EaD  Presencial   Total   % EaD  % Presencial
0       Abelardo Luz   619.0       113.0   732.0   84.56         15.44
1         Agrolândia   302.0         0.0   302.0  100.00          0.00
2     Alfredo Wagner   299.0         0.0   299.0  100.00          0.00
3           Anchieta    35.0         0.0    35.0  100.00          0.00
4    Anita Garibaldi   184.0         0.0   184.0  100.00          0.00
..               ...     ...         ...     ...     ...           ...
156    Vargem Bonita    49.0         0.0    49.0  100.00          0.00
157          Videira  2740.0      2125.0  4865.0   56.32         43.68
158          Xanxerê  2341.0      2349.0  4690.0   49.91         50.09
159            Xaxim  1136.0         0.0  1136.0  100.00          0.00
160        Água Doce    24.0         0.0    24.0  100.00          0.00

[161 rows x 6 columns]

In [40]:
# 2 

resultado = df_2014.groupby(['NO_MUNICIPIO'])['QT_MAT'].sum().reset_index()
display(resultado)
print(resultado['QT_MAT'].sum())
print(resultado['NO_MUNICIPIO'].count())
export(resultado,'topico2 alcance ensino superior')

          NO_MUNICIPIO  QT_MAT
0         Abelardo Luz      87
1      Anita Garibaldi       1
2             Araquari     380
3            Araranguá    4284
4   Balneário Camboriú   12145
..                 ...     ...
84        Treze Tílias      37
85             Tubarão    7706
86             Videira    2890
87             Xanxerê    3395
88               Xaxim    2203

[89 rows x 2 columns]

315663
89

In [41]:
# Mancha expansao

# Converter para numérico
df_sc['NU_ANO_CENSO'] = pd.to_numeric(df_sc['NU_ANO_CENSO'], errors='coerce')

# Primeiro ano com ensino superior por município
primeiro_ano = (
    df_sc.groupby('NO_MUNICIPIO')['NU_ANO_CENSO']
    .min()
    .reset_index()
    .rename(columns={'NU_ANO_CENSO': 'ANO_INICIO_ENSINO_SUPERIOR'})
    .sort_values('ANO_INICIO_ENSINO_SUPERIOR')
)

display(primeiro_ano)

# Quantidade de municípios por ano de início
qtd_por_ano = (
    primeiro_ano.groupby('ANO_INICIO_ENSINO_SUPERIOR')
    .size()
    .reset_index(name='QTD_MUNICIPIOS')
)

display(qtd_por_ano)

export(primeiro_ano, 'topico_2 Mancha da expansao')
export(qtd_por_ano, 'topico_2 detalhes da expansao')

C:\Users\rafae_9y1k772\AppData\Local\Temp\ipykernel_8888\4243770765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sc['NU_ANO_CENSO'] = pd.to_numeric(df_sc['NU_ANO_CENSO'], errors='coerce')

           NO_MUNICIPIO  ANO_INICIO_ENSINO_SUPERIOR
0          Abelardo Luz                        2014
4       Anita Garibaldi                        2014
9             Araranguá                        2014
8              Araquari                        2014
14   Balneário Camboriú                        2014
..                  ...                         ...
114            Peritiba                        2023
139         Siderópolis                        2023
5            Anitápolis                        2024
125     Rancho Queimado                        2024
149     São João do Sul                        2024

[168 rows x 2 columns]

    ANO_INICIO_ENSINO_SUPERIOR  QTD_MUNICIPIOS
0                         2014              89
1                         2015               2
2                         2016               1
3                         2017              13
4                         2018              10
5                         2019               9
6                         2020              11
7                         2021              14
8                         2022              10
9                         2023               6
10                        2024               3

In [46]:

# 3 - Percentual EaD vs Presencial por UF (Brasil, 2024)
df_br_2024 = df[df['NU_ANO_CENSO'] == '2024'].copy()
df_br_2024['QT_MAT'] = pd.to_numeric(df_br_2024['QT_MAT'], errors='coerce')
df_br_2024['MODALIDADE_NOME'] = df_br_2024['TP_MODALIDADE_ENSINO'].map({'1': 'Presencial', '2': 'EaD'})

uf_modalidade = (
    df_br_2024.groupby(['SG_UF', 'MODALIDADE_NOME'])['QT_MAT'].sum()
    .reset_index()
    .pivot(index='SG_UF', columns='MODALIDADE_NOME', values='QT_MAT')
    .rename_axis(columns=None)
    .fillna(0)
)

uf_modalidade['Total'] = uf_modalidade['EaD'] + uf_modalidade['Presencial']
uf_modalidade['% EaD'] = (uf_modalidade['EaD'] / uf_modalidade['Total'] * 100).round(2)
uf_modalidade['% Presencial'] = (uf_modalidade['Presencial'] / uf_modalidade['Total'] * 100).round(2)

uf_modalidade = uf_modalidade.sort_values('% EaD', ascending=False).reset_index()
display(uf_modalidade)

   SG_UF      EaD  Presencial    Total  % EaD  % Presencial
0     SC   268875      190634   459509  58.51         41.49
1     RS   337791      241395   579186  58.32         41.68
2     MS    88299       65947   154246  57.25         42.75
3     RR    19542       14629    34171  57.19         42.81
4     PA   209882      160939   370821  56.60         43.40
5     PR   401263      310203   711466  56.40         43.60
6     AC    21610       17486    39096  55.27         44.73
7     RJ   504118      440695   944813  53.36         46.64
8     MT    99380       90489   189869  52.34         47.66
9     ES    94795       87540   182335  51.99         48.01
10    SP  1268490     1172543  2441033  51.97         48.03
11    RO    45487       43161    88648  51.31         48.69
12    AP    23723       24070    47793  49.64         50.36
13    BA   247820      254041   501861  49.38         50.62
14    MG   467654      483107   950761  49.19         50.81
15    TO    42050       44694    86744  48.48         51.52
16    CE   173694      206664   380358  45.67         54.33
17    DF   113282      135051   248333  45.62         54.38
18    MA   104743      126996   231739  45.20         54.80
19    GO   139049      173596   312645  44.48         55.52
20    AL    53584       69459   123043  43.55         56.45
21    SE    38876       50770    89646  43.37         56.63
22    PI    62339       86377   148716  41.92         58.08
23    PE   154969      216806   371775  41.68         58.32
24    AM    80167      116529   196696  40.76         59.24
25    RN    60193       90560   150753  39.93         60.07
26    PB    65136      123494   188630  34.53         65.47

In [47]:
# Perfil etário dos ingressantes por modalidade - SC 2024
df_idade = df_sc[df_sc['NU_ANO_CENSO'] == 2024].copy()

ing_cols = ['QT_ING_0_17', 'QT_ING_18_24', 'QT_ING_25_29', 'QT_ING_30_34',
            'QT_ING_35_39', 'QT_ING_40_49', 'QT_ING_50_59', 'QT_ING_60_MAIS']
df_idade[ing_cols] = df_idade[ing_cols].apply(pd.to_numeric, errors='coerce')

# Agrupar por modalidade
grupo = df_idade.groupby('MODALIDADE_NOME')[ing_cols].sum()

# Criar faixas
grupo['Jovens (até 24)'] = grupo['QT_ING_0_17'] + grupo['QT_ING_18_24']
grupo['Adultos (25 a 49)'] = grupo['QT_ING_25_29'] + grupo['QT_ING_30_34'] + grupo['QT_ING_35_39'] + grupo['QT_ING_40_49']
grupo['Senior (50+)'] = grupo['QT_ING_50_59'] + grupo['QT_ING_60_MAIS']

faixas = ['Jovens (até 24)', 'Adultos (25 a 49)', 'Senior (50+)']
total = grupo[faixas].sum(axis=1)

perfil = grupo[faixas].div(total, axis=0) * 100
perfil = perfil.round(2)
perfil.columns = ['% Jovens (até 24)', '% Adultos (25 a 49)', '% Senior (50+)']
perfil.index.name = 'MODALIDADE'

display(perfil)

            % Jovens (até 24)  % Adultos (25 a 49)  % Senior (50+)
MODALIDADE
EaD                     31.34                64.63            4.03
Presencial              69.08                29.10            1.82

In [42]:
# 5
resultado_ead_vs_presencial = (
    df_sc.groupby(['NU_ANO_CENSO', 'MODALIDADE_NOME'])['QT_MAT'].sum()
    .reset_index()
    .pivot(index='NU_ANO_CENSO', columns='MODALIDADE_NOME', values='QT_MAT')
    .rename_axis(columns=None)
    .reset_index()
    .sort_values('NU_ANO_CENSO')
)
display(resultado)

          NO_MUNICIPIO  QT_MAT
0         Abelardo Luz      87
1      Anita Garibaldi       1
2             Araquari     380
3            Araranguá    4284
4   Balneário Camboriú   12145
..                 ...     ...
84        Treze Tílias      37
85             Tubarão    7706
86             Videira    2890
87             Xanxerê    3395
88               Xaxim    2203

[89 rows x 2 columns]

In [48]:
# 6

# 6 - Dependência EaD por porte do município (SC, 2024)
pop = pd.read_excel('SC_POP2022.xlsx')
pop = pop.rename(columns={'NOME DO MUNICÍPIO': 'NO_MUNICIPIO', 'POPULAÇÃO': 'POPULACAO'})

# Cruzar dados INEP 2024 com população
df_2024_sc = df_sc[df_sc['NU_ANO_CENSO'] == 2024].copy()
df_porte = df_2024_sc.merge(pop[['NO_MUNICIPIO', 'POPULACAO']], on='NO_MUNICIPIO', how='left')

# Classificar porte
def classificar_porte(pop):
    if pop < 20000:
        return '1. Pequena (até 20 mil habitantes)'
    elif pop < 50000:
        return '2. Média-Pequena (20 a 50 mil)'
    elif pop < 100000:
        return '3. Média-Grande (50 a 100 mil)'
    else:
        return '4. Grande Centro (mais de 100 mil)'

df_porte['PORTE'] = df_porte['POPULACAO'].apply(classificar_porte)

# Agrupar por porte e modalidade
porte_mod = (
    df_porte.groupby(['PORTE', 'MODALIDADE_NOME'])['QT_MAT'].sum()
    .reset_index()
    .pivot(index='PORTE', columns='MODALIDADE_NOME', values='QT_MAT')
    .rename_axis(columns=None)
    .fillna(0)
)

porte_mod['Total'] = porte_mod['EaD'] + porte_mod['Presencial']
porte_mod['% EaD'] = (porte_mod['EaD'] / porte_mod['Total'] * 100).round(2)
porte_mod['% Presencial'] = (porte_mod['Presencial'] / porte_mod['Total'] * 100).round(2)

display(porte_mod[['% EaD', '% Presencial']])

                                    % EaD  % Presencial
PORTE
1. Pequena (até 20 mil habitantes)  58.51         41.49

In [50]:
# 6 - Dependência EaD por porte do município (SC, 2024)
pop = pd.read_excel('SC_POP2022.xlsx')
pop = pop.rename(columns={'NOME DO MUNICÍPIO': 'NO_MUNICIPIO', 'POPULAÇÃO': 'POPULACAO'})
pop['POPULACAO'] = (pop['POPULACAO'] * 1000).astype(int)

# Cruzar dados INEP 2024 com população
df_2024_sc = df_sc[df_sc['NU_ANO_CENSO'] == 2024].copy()
df_porte = df_2024_sc.merge(pop[['NO_MUNICIPIO', 'POPULACAO']], on='NO_MUNICIPIO', how='left')

# --- Exploração ---
print(f"Total de registros (cursos) em 2024 SC: {len(df_2024_sc)}")
print(f"Municípios no INEP: {df_2024_sc['NO_MUNICIPIO'].nunique()}")
print(f"Municípios no Censo Pop: {pop['NO_MUNICIPIO'].nunique()}")
print(f"Registros sem match de população: {df_porte['POPULACAO'].isna().sum()}")

# Municípios que não casaram
sem_match = df_porte[df_porte['POPULACAO'].isna()]['NO_MUNICIPIO'].unique()
if len(sem_match) > 0:
    print(f"\nMunicípios sem correspondência ({len(sem_match)}):")
    for m in sem_match:
        print(f"  - {m}")

# Distribuição por porte
def classificar_porte(p):
    if p < 20000:
        return '1. Pequena (até 20 mil habitantes)'
    elif p < 50000:
        return '2. Média-Pequena (20 a 50 mil)'
    elif p < 100000:
        return '3. Média-Grande (50 a 100 mil)'
    else:
        return '4. Grande Centro (mais de 100 mil)'

df_porte['PORTE'] = df_porte['POPULACAO'].apply(classificar_porte)

# Quantos municípios em cada faixa
mun_por_porte = df_porte.groupby('PORTE')['NO_MUNICIPIO'].nunique().reset_index(name='QTD_MUNICIPIOS')
print("\nMunicípios por faixa de porte:")
display(mun_por_porte)

# Total de matrículas por porte
mat_por_porte = df_porte.groupby('PORTE')['QT_MAT'].sum().reset_index()
print("Matrículas por porte:")
display(mat_por_porte)

# Resultado final: % EaD vs Presencial por porte
porte_mod = (
    df_porte.groupby(['PORTE', 'MODALIDADE_NOME'])['QT_MAT'].sum()
    .reset_index()
    .pivot(index='PORTE', columns='MODALIDADE_NOME', values='QT_MAT')
    .rename_axis(columns=None)
    .fillna(0)
)

porte_mod['Total'] = porte_mod['EaD'] + porte_mod['Presencial']
porte_mod['% EaD'] = (porte_mod['EaD'] / porte_mod['Total'] * 100).round(2)
porte_mod['% Presencial'] = (porte_mod['Presencial'] / porte_mod['Total'] * 100).round(2)

print("\nResultado final:")
display(porte_mod)

Total de registros (cursos) em 2024 SC: 40731
Municípios no INEP: 161
Municípios no Censo Pop: 295
Registros sem match de população: 0

Municípios por faixa de porte:

                                PORTE  QTD_MUNICIPIOS
0  1. Pequena (até 20 mil habitantes)              88
1      2. Média-Pequena (20 a 50 mil)              42
2      3. Média-Grande (50 a 100 mil)              17
3  4. Grande Centro (mais de 100 mil)              14

Matrículas por porte:

                                PORTE  QT_MAT
0  1. Pequena (até 20 mil habitantes)   16823
1      2. Média-Pequena (20 a 50 mil)   64706
2      3. Média-Grande (50 a 100 mil)   71843
3  4. Grande Centro (mais de 100 mil)  306137

Resultado final:

,EaD,Presencial,Total,% EaD,% Presencial
PORTE,,,,,
1. Pequena (até 20 mil habitantes),14725,2098,16823,87.53,12.47
2. Média-Pequena (20 a 50 mil),48136,16570,64706,74.39,25.61
3. Média-Grande (50 a 100 mil),52103,19740,71843,72.52,27.48
4. Grande Centro (mais de 100 mil),153911,152226,306137,50.28,49.72

In [58]:
# 7 - Faculdades privadas dominam o EaD (SC, 2024)
df7 = df_cursos_completo[df_cursos_completo['SG_UF'] == 'SC'].copy()
df7 = df7[df7['NU_ANO_CENSO'] == '2024'].copy()
df7['QT_MAT'] = pd.to_numeric(df7['QT_MAT'], errors='coerce')
df7['MODALIDADE'] = df7['TP_MODALIDADE_ENSINO'].map({'1': 'Presencial', '2': 'EaD'})
df7['TIPO'] = df7['TP_REDE'].map({'1': 'PÚBLICA', '2': 'PRIVADA'})

# Presencial
presencial = df7[df7['MODALIDADE'] == 'Presencial'].groupby('TIPO')['QT_MAT'].sum().reset_index()
presencial.columns = ['TIPO', 'PRESENCIAL']

print("PRESENCIAL (QT_MAT em 2024 em SC)")
display(presencial.sort_values('PRESENCIAL', ascending=True))

# EaD
ead = df7[df7['MODALIDADE'] == 'EaD'].groupby('TIPO')['QT_MAT'].sum().reset_index()
ead.columns = ['TIPO', 'EAD']
print("\nEaD (QT_MAT em 2024 em SC)")
display(ead.sort_values('EAD', ascending=True))

PRESENCIAL (QT_MAT em 2024 em SC)

      TIPO  PRESENCIAL
1  PÚBLICA       58931
0  PRIVADA      131703

EaD (QT_MAT em 2024 em SC)

      TIPO     EAD
1  PÚBLICA    1962
0  PRIVADA  266913